<% content_for :title, "ECET ONLINE EXAMINATION PORTAL" %>
<% content_for :description, "Neet Gov Providing All india Educations Updates, Notifications, Time tables, Results, Syllabus books, Etc. This Info for Helping Students We Are Providing Accurately for Official Conformation contact college section and higher authorities"%>
<!-- <style type="text/css">
	.rightdiv {
   position: absolute;
   left: 100%;
   top: 0;
}
</style> -->

		
<%= render :partial =>  "layouts/instructions" %>
<% i = 1 %>
<div class="row">
		<div class="col-sm-1 text-center"></div>
			<div class="col-md-10">
				<% if @livetests.empty? %>
					<div class="alert alert-danger">
				      <strong>Sorry! No tests added yet</strong>
				    </div>
						
				<% else %>
						<table class="table table-bordered table-hover bor">
							<tr class="bor">
								<th class="btn-primary">Test</th>
								<th class="btn-primary">Date</th>
								<th class="btn-primary"></th>
							</tr>
							
							<% ad=@livetests.count/2 %>
							<% ad2=@livetests.count/2 %>
							<% count = @livetests.count %>
						<% @livetests.each do |c| %>
							<tr class="bor">
								<td><%= c.subject.upcase %> TEST <b><%= i %></b></td>
								<td><%= c.created_at.strftime("#{c.created_at.day.ordinalize}-%b-%Y") %></td>
								<td><a href="/exam/ecet/<%=c.subject %>/<%= c.testcount %>/<%= @subject %>" ><button class="btn btn-primary"> Accept & Start Exam </button></a></td>
							</tr>
							<% if i == ad %>
								<tr class="text-center bor">
									<td colspan="3">
					                </td> 
					             </tr>
				            <% end %>
							<% i+=1 %>
						<% end %>
						</table>
				<% end %>
			</div>
			<div class="col-sm-1 text-center"></div>
	
	</div>
