<!DOCTYPE html>
<html>
  <head>
    <title>Ecet</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
    <title><%= yield(:title) %></title>
    <meta property="og:title" content="<%= yield(:title) %>" />
    <meta name='description' content="<%= yield(:description) %>" >
    <meta property="og:description" content="<%= yield(:description) %>" />
    <meta name="keywords" content="<%= yield(:keywords) %>">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
     <script type="text/javascript">
        window.setTimeout(function() {
          $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
          });
        }, 5000);
      </script>
      

      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108087534-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-108087534-1');
</script>


        
</head>
  <body>
      <% if user_signed_in? %>
        <%= render :partial => 'layouts/navbar' %>
    	<% else %>
        <%= render :partial => 'layouts/navbar2' %>
    	<%end%>
      
      <div class="container">
      
        <%= yield %>
        <br>
        <div class="container">
          <p class="text-justify"><strong class="text-danger">DISCLAIMER!</strong> This Website Is ” NOT OFFICIAL ” By ANY Board/Govt or University. Here We Provide Mainly About Free Entrance exams Online Bits and Related Info. This Particular Information/Updates/Results/Notifications Are gathering From Official Website of various State Council of Higher Education in India and Other various website colleges. These Info is Not official/FINAL This is only referral/Modal practices for entrance/competitive examinations. Do not depend only on this, this is only for practice purpose.<br>
        Do hard work, Practice and get Success. For Helping Students We Are Providing Accurately. For Official and Confirming Any Updates/Results. We Are Not Responsible for any wrong information. Thank You For Supporting.</p>
</div>
</div>
      <%= render :partial =>  "layouts/script" %>
      <br><br><br>

      <%= render :partial =>  "layouts/footer" %>
  </body>
</html>
